<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="ui menu">
        <div class="ui header medium">Dee'full</div> <small>(commentaire anonyme)</small> <div class="item right"><a href="/Alls">Alls</a></div>
    </div>
    <p class="ui message green" align="center">defoulez vous ici en postant tout ce qui vous passe par la tête</p>
    <div class="ui main container">
        <div class="message"></div>
        <div class="ui form">
            <div class="field">
                <textarea>votre commentaire</textarea>
            </div>
            <button class="ui button primary fluid">
                <i class="send icon"></i>
            </button>
        </div>
        <div class="ui header tiny">commentaire récents:</div>
      <div id="comments">
      </div>


      <div class="ui horizontal divider" id="copyright">&copy;2021</div>

    </div>
    <script src="/assets/jquery.js"></script>
    <script type="module" src="/assets/main.js"></script>
</body>
</html>